body{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.latex-code{
    width: 100vw;
    height: auto;
    word-break: break-all;
    padding: 15px ;
}
.key-item {
    font-size: 16px;
    color: #49494d;
    cursor: pointer;
    float: left;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DBDCDC;
}
.deep-keys{
    background-color: #B4B5B5;
}
.tools{
    background-color: #727171;
    color: #ffffff
}
.key-item.dianbox {
    background-image: url("../image/icon_dianbox.png");
}
.key-item.xiangliang {
    background-image: url("../image/icon_xiangliang.png");
}
.key-item.xiangliang1 {
    background-image: url("../image/icon_xiangliang1.png");
}
.key-item.kx-wjx {
    background-image: url("../image/icon_kx-wjx.png");
}
.key-item.sx-wjx {
    background-image: url("../image/icon_sx-wjx.png");
}
.key-item.kx-yuan {
    background-image: url("../image/icon_kx-yuan.png");
}
.key-item.sx-yuan {
    background-image: url("../image/icon_sx-yuan.png");
}
.key-item.tonghuo {
    background-image: url("../image/icon_yuandian.png");
}
.key-item.yuanhu {
    background-image: url("../image/icon_yuanhu.png");
}
.key-item.pingxing {
    background-image: url("../image/icon_pingxing.png");
}
.key-item.kx-lx {
    background-image: url("../image/icon_kx-lx.png");
}
.key-item.pxsbx {
    background-image: url("../image/icon_pxsbx.png");
}
.key-item.sx-lx {
    background-image: url("../image/icon_sx-lx.png");
}
.key-item.zfx {
    background-image: url("../image/icon_zfx.png");
}
.key-item.lg {
    background-image: url("../image/icon_lg.png");
}
.key-item.e {
    background-image: url("../image/icon_e.png");
}
.key-item.e1 {
    background-image: url("../image/icon_e1.png");
}
.key-item.fx {
    background-image: url("../image/icon_fx.png");
}
.key-item.hx {
    background-image: url("../image/icon_hx.png");
}
.key-item.gx {
    background-image: url("../image/icon_gx.png");
}
.key-item.fenhao1 {
    background-image: url("../image/icon_fenhao1.png");
}
.key-item.yuedengyu {
    background-image: url("../image/icon_yuedengyu.png");
}
.key-item.budengyu {
    background-image: url("../image/icon_budengyu.png");
}
.key-item.buxiaoyu {
    background-image: url("../image/icon_buxiaoyu.png");
}
.key-item.budayu {
    background-image: url("../image/icon_budayu.png");
}
.key-item.douhao {
    background-image: url("../image/icon_douhao.png");
}
.key-item.kuohao1 {
    background-image: url("../image/icon_kuohao1.png");
}
.key-item.kuohao2 {
    background-image: url("../image/icon_kuohao2.png");
}
.key-item.kuohao3 {
    background-image: url("../image/icon_kuohao3.png");
}
.key-item.sure {
    background-image: url("../image/icon_sure.png");
}
.key-item.icon-more {
    background-image: url("../image/icon_more.png");
}
.key-item.left {
    background-image: url("../image/icon_left.png");
}
.key-item.right {
    background-image: url("../image/icon_right.png");
}
.key-item.delete {
    background-image: url("../image/icon_delete.png");
}
.key-item.enter {
    background-image: url("../image/icon_enter.png");
}
.key-item.shuzi0 {
    background-image: url("../image/icon_0.png");
}

.key-item.shuzi1 {
    background-image: url("../image/icon_1.png");
}

.key-item.shuzi2 {
    background-image: url("../image/icon_2.png");
}

.key-item.shuzi3 {
    background-image: url("../image/icon_3.png");
}

.key-item.shuzi4 {
    background-image: url("../image/icon_4.png");
}

.key-item.shuzi5 {
    background-image: url("../image/icon_5.png");
}

.key-item.shuzi6 {
    background-image: url("../image/icon_6.png");
}

.key-item.shuzi7 {
    background-image: url("../image/icon_7.png");
}

.key-item.shuzi8 {
    background-image: url("../image/icon_8.png");
}

.key-item.shuzi9 {
    background-image: url("../image/icon_9.png");
}

.key-item.a {
    background-image: url("../image/icon_a.png");
}

.key-item.acos {
    background-image: url("../image/icon_acos.png");
}

.key-item.asin {
    background-image: url("../image/icon_asin.png");
}

.key-item.atan {
    background-image: url("../image/icon_atan.png");
}

.key-item.b {
    background-image: url("../image/icon_b.png");
}

.key-item.baifenghao {
    background-image: url("../image/icon_baifenghao.png");
}

.key-item.baohan1 {
    background-image: url("../image/icon_baohan1.png");
}

.key-item.baohan2 {
    background-image: url("../image/icon_baohan2.png");
}

.key-item.baohan3 {
    background-image: url("../image/icon_baohan3.png");
}

.key-item.baohan4 {
    background-image: url("../image/icon_baohan4.png");
}

.key-item.biao1 {
    background-image: url("../image/icon_biao1.png");
}

.key-item.biaoji2 {
    background-image: url("../image/icon_biaoji2.png");
}

.key-item.biaoji3 {
    background-image: url("../image/icon_shangxiabiao.png");
}

.key-item.budeng {
    background-image: url("../image/icon_budeng.png");
}


.key-item.cheng {
    background-image: url("../image/icon_cheng.png");
}

.key-item.chu {
    background-image: url("../image/icon_chu.png");
}
.key-item.chuizhi1 {
    background-image: url("../image/icon_chuzhi1.png");
}

.key-item.chuizhi2 {
    background-image: url("../image/icon_jiaodu.png");
}

.key-item.cimi1 {
    background-image: url("../image/icon_cimi1.png");
}

.key-item.cimi2 {
    background-image: url("../image/icon_cimi2.png");
}

.key-item.cimi3 {
    background-image: url("../image/icon_cimi3.png");
}

.key-item.cos {
    background-image: url("../image/icon_cos.png");
}

.key-item.cot {
    background-image: url("../image/icon_cot.png");
}

.key-item.csc {
    background-image: url("../image/icon_csc.png");
}

.key-item.dayu {
    background-image: url("../image/icon_dayu.png");
}

.key-item.dayudengyu {
    background-image: url("../image/icon_dayudengyu.png");
}

.key-item.dengyu {
    background-image: url("../image/icon_dengyu.png");
}

.key-item.dian {
    background-image: url("../image/icon_dian.png");
}

.key-item.douhao {
    background-image: url("../image/icon_douhao.png");
}

.key-item.du {
    background-image: url("../image/icon_du.png");
}

.key-item.fenhao {
    background-image: url("../image/icon_fenhao.png");
}

.key-item.genghao1 {
    background-image: url("../image/icon_genghao1.png");
}

.key-item.genghao2 {
    background-image: url("../image/icon_genghao2.png");
}

.key-item.genghao3 {
    background-image: url("../image/icon_genghao3.png");
}

.key-item.jia {
    background-image: url("../image/icon_jia.png");
}

.key-item.jian {
    background-image: url("../image/icon_jian.png");
}

.key-item.jiaojie1 {
    background-image: url("../image/icon_jiaojie1.png");
}

.key-item.jiaojie2 {
    background-image: url("../image/icon_jiaojie2.png");
}
.key-item.jiaojie3 {
    background-image: url("../image/icon_jiaojie3.png");
}

.key-item.jiehe1 {
    background-image: url("../image/icon_jiehe1.png");
}

.key-item.jifen1 {
    background-image: url("../image/icon_jifen1.png");
}

.key-item.jifen2 {
    background-image: url("../image/icon_jifen2.png");
}

.key-item.jifen3 {
    background-image: url("../image/icon_jifen3.png");
}

.key-item.jifen4 {
    background-image: url("../image/icon_jifen4.png");
}

.key-item.jifen5 {
    background-image: url("../image/icon_jifen5.png");
}

.key-item.jifen6 {
    background-image: url("../image/icon_jifen6.png");
}

.key-item.jueduizhi {
    background-image: url("../image/icon_jueduizhi.png");
}

.key-item.kaph {
    background-image: url("../image/icon_kaph.png");
}

.key-item.kuohao {
    background-image: url("../image/icon_kuohao.png");
}

.key-item.ln {
    background-image: url("../image/icon_ln.png");
}

.key-item.log {
    background-image: url("../image/icon_log.png");
}

.key-item.maohao {
    background-image: url("../image/icon_maohao.png");
}

.key-item.mem {
    background-image: url("../image/icon_mem.png");
}

.key-item.mingti1 {
    background-image: url("../image/icon_mingti1.png");
}

.key-item.mingti2 {
    background-image: url("../image/icon_mingti2.png");
}

.key-item.mingti3 {
    background-image: url("../image/icon_mingti3.png");
}

.key-item.mingti4 {
    background-image: url("../image/icon_mingti4.png");
}

.key-item.mingti5 {
    background-image: url("../image/icon_mingti5.png");
}

.key-item.mingti6 {
    background-image: url("../image/icon_mingti6.png");
}

.key-item.mingti7 {
    background-image: url("../image/icon_mingti7.png");
}

.key-item.mint2 {
    background-image: url("../image/icon_mint2.png");
}

.key-item.pi {
    background-image: url("../image/icon_pi.png");
    /*background-position: -1px -3px;*/
}
.key-item.kongji {
    background-image: url("../image/icon_kongji.png");
}
.key-item.qiuhe {
    background-image: url("../image/icon_qiuhe.png");
}

.key-item.qiuhe1 {
    background-image: url("../image/icon_qiuhe1.png");
}

.key-item.qiuhe2 {
    background-image: url("../image/icon_qiuhe2.png");
}

.key-item.quandeng1 {
    background-image: url("../image/icon_quandeng1.png");
}

.key-item.quandeng2 {
    background-image: url("../image/icon_quandeng2.png");
}

.key-item.sanjiao {
    background-image: url("../image/icon_sanjiao.png");
}

.key-item.sec {
    background-image: url("../image/icon_sec.png");
}

.key-item.shangdian {
    background-image: url("../image/icon_shangdian.png");
}

.key-item.shaungjiantou {
    background-image: url("../image/icon_shaungjiantou.png");
}

.key-item.shuyu {
    background-image: url("../image/icon_shuyu.png");
}
.key-item.shuyu1 {
    background-image: url("../image/icon_shuyu1.png");
}
.key-item.shuyu2 {
    background-image: url("../image/icon_shuyu2.png");
}
.key-item.shuyu3 {
    background-image: url("../image/icon_shuyu3.png");
}

.key-item.sin {
    background-image: url("../image/icon_sin.png");
}

.key-item.sp_alpha {
    background-image: url("../image/icon_sp_alpha.png");
}

.key-item.sp_beta {
    background-image: url("../image/icon_sp_beta.png");
}

.key-item.sp_chi {
    background-image: url("../image/icon_sp_chi.png");
}

.key-item.sp_daleth {
    background-image: url("../image/icon_sp_daleth.png");
}

.key-item.sp_epsilon {
    background-image: url("../image/icon_sp_epsilon.png");
}

.key-item.sp_eta {
    background-image: url("../image/icon_sp_eta.png");
}
.key-item.sp_mu {
    background-image: url("../image/icon_sp_eta.png");
}

.key-item.sp_gamma {
    background-image: url("../image/icon_sp_gamma.png");
}

.key-item.sp_lambda {
    background-image: url("../image/icon_sp_lambda.png");
}

.key-item.sp_nu {
    background-image: url("../image/icon_sp_nu.png");
}

.key-item.sp_omega {
    background-image: url("../image/icon_sp_omega.png");
}

.key-item.sp_ou {
    background-image: url("../image/icon_sp_ou.png");
}

.key-item.sp_phi {
    background-image: url("../image/icon_sp_phi.png");
}

.key-item.sp_psi {
    background-image: url("../image/icon_sp_psi.png");
}

.key-item.sp_res {
    background-image: url("../image/icon_sp_res.png");
}

.key-item.sp_taw {
    background-image: url("../image/icon_sp_taw.png");
}

.key-item.sp_theta {
    background-image: url("../image/icon_sp_theta.png");
}

.key-item.sp_upsilon {
    background-image: url("../image/icon_sp_upsilon.png");
}

.key-item.sp_xi {
    background-image: url("../image/icon_sp_xi.png");
}

.key-item.sp_zeta {
    background-image: url("../image/icon_sp_zeta.png");
}

.key-item.suoyi {
    background-image: url("../image/icon_suoyi.png");
}

.key-item.tan {
    background-image: url("../image/icon_tan.png");
}

.key-item.wuqiong {
    background-image: url("../image/icon_wuqiong.png");
}

.key-item.x {
    background-image: url("../image/icon_x.png");
}

.key-item.xiaoyu {
    background-image: url("../image/icon_xiaoyu.png");
}

.key-item.xiaoyudengyu {
    background-image: url("../image/icon_xiaoyudengyu.png");
}

.key-item.y {
    background-image: url("../image/icon_y.png");
}

.key-item.yinwei {
    background-image: url("../image/icon_yinwei.png");
}

.key-item.yuan {
    background-image: url("../image/icon_yuan.png");
}

.key-item.yuedeng {
    background-image: url("../image/icon_yuedeng.png");
}

.key-item.zhengfu {
    background-image: url("../image/icon_zhengfu.png");
}

.key-item.zhongkuohao {
    background-image: url("../image/icon_zhongkuohao.png");
}

.key-item.zimua {
    background-image: url("../image/icon_zimua.png");
}

.key-item.zimub {
    background-image: url("../image/icon_zimub.png");
}

.key-item.zimuc {
    background-image: url("../image/icon_zimuc.png");
}

.key-item.zimud {
    background-image: url("../image/icon_zimud.png");
}

.key-item.zimue {
    background-image: url("../image/icon_zimue.png");
}

.key-item.zimuf {
    background-image: url("../image/icon_zimuf.png");
}

.key-item.zimug {
    background-image: url("../image/icon_zimug.png");
}

.key-item.zimuh {
    background-image: url("../image/icon_zimuh.png");
}

.key-item.zimui {
    background-image: url("../image/icon_zimui.png");
}

.key-item.zimuj {
    background-image: url("../image/icon_zimuj.png");
}

.key-item.zimuk {
    background-image: url("../image/icon_zimuk.png");
}

.key-item.zimul {
    background-image: url("../image/icon_zimul.png");
}

.key-item.zimum {
    background-image: url("../image/icon_zimum.png");
}

.key-item.zimun {
    background-image: url("../image/icon_zimun.png");
}

.key-item.zimuo {
    background-image: url("../image/icon_zimuo.png");
}

.key-item.zimup {
    background-image: url("../image/icon_zimup.png");
}

.key-item.zimuq {
    background-image: url("../image/icon_zimuq.png");
}

.key-item.zimur {
    background-image: url("../image/icon_zimur.png");
}

.key-item.zimus {
    background-image: url("../image/icon_zimus.png");
}

.key-item.zimut {
    background-image: url("../image/icon_zimut.png");
}

.key-item.zimuu {
    background-image: url("../image/icon_zimuu.png");
}

.key-item.zimuv {
    background-image: url("../image/icon_zimuv.png");
}

.key-item.zimuw {
    background-image: url("../image/icon_zimuw.png");
}

.key-item.zimux {
    background-image: url("../image/icon_zimux.png");
}

.key-item.zimuy {
    background-image: url("../image/icon_zimuy.png");
}

.key-item.zimuz {
    background-image: url("../image/icon_zimuz.png");
}

.key-item._sp_sin {
    background-image: url("../image/icon__sp_sin.png");
}